.block-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.items-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 2px;
}

.title {
  font-weight: 700;
  font-size: 2.8rem;
  color: var(--blue-color);
}