.faq-info {
  background-color: var(--white-color);
  padding: 28px;
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 42px;
}

.wrap {
  display: flex;
  align-items: center;
  column-gap: 28px;
}

.title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 4.2rem;
  color: var(--blue-color);
  line-height: 100%;
}

.text {
  font-size: 2rem;
  line-height: 120%;
  color: var(--blue-black-color);
}

.icon-wrap {
  min-width: 200px;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input-wrap {
  width: 266px;
  min-width: 266px;
}

.sub-title {
  font-weight: 700;
  font-size: 2.8rem;
  line-height: 100.8%;
  text-transform: uppercase;
  color: var(--blue-color);
}

.faqs-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 28px;
}

.my-masonry-grid {
  column-gap: 42px;
  display: flex;
}

.my-masonry-grid_column {
  > div {
    margin-bottom: 28px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
