@use 'variables' as v;

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);

  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
  ::-webkit-scrollbar {
    display: none;
  }

  font-family: 'Lato', 'Times New Roman', Times, serif;

  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--background-color);
}

input, textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input {
  :disabled {
    background-color: inherit;
  }
}