@use 'variables' as v;

@font-face {
  font-family: "Lato";
  src: url('../assets/fonts/Lato/Lato-Black.ttf');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url('../assets/fonts/Lato/Lato-BlackItalic.ttf');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Lato";
  src: url('../assets/fonts/Lato/Lato-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url('../assets/fonts/Lato/Lato-BoldItalic.ttf');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Lato";
  src: url('../assets/fonts/Lato/Lato-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url('../assets/fonts/Lato/Lato-Italic.ttf');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Lato";
  src: url('../assets/fonts/Lato/Lato-Light.ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url('../assets/fonts/Lato/Lato-LightItalic.ttf');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Lato";
  src: url('../assets/fonts/Lato/Lato-Thin.ttf');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url('../assets/fonts/Lato/Lato-ThinItalic.ttf');
  font-weight: 100;
  font-style: italic;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);

  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
  ::-webkit-scrollbar {
    display: none;
  }

  font-family: 'Lato', 'Times New Roman', Times, serif;

  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--background-color);
}

input, textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input {
  :disabled {
    background-color: inherit;
  }
}