.block-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 0.8rem;
}

.items-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 0.2rem;
}

.title {
  font-family: 'Lato';
  font-weight: 700;
  font-size: 2.8rem;
  color: var(--blue-color);
}